* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
}

.chat-box {
  height: ;
}

.chat-box {
  border: 2px solid grey;
  overflow-y: scroll;
}

.chat-msg {
  border-bottom: 1px solid grey;
}
